.container-db-select {
  width: 100%;
  height: 3rem;
  display: flex;
  border-bottom: solid #555 1px;
  position: sticky;
  top: 3.5rem;
}

.db-item {
  flex-basis: 100%;
  text-align: center;
  font-size: 1.3rem;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  background-color: #8aa890;
}

.db-item-selected {
  background-color: #63cf70;
  color: #3b4f3f;
}

.mongodb {
  width: 35%;
}

.mysql {
  width: 32%;
}

.postgresql {
  width: 40%;
}
