.news-board {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 3rem;
}

.left {
  width: 30rem;
  margin-left: 5rem;
}

.right {
  margin-right: 5rem;
}

.news-count-text {
  font-size: 1rem;
  position: fixed;
  top: 2rem;
  z-index: 2;
}
