.container-news-select {
  padding: 1rem;
  width: 100%;
  min-height: 32rem;
  text-align: center;
  background-color: #87a18c;
  margin-bottom: 1rem;
  position: sticky;
  top: 6.5rem;
}

.title-news-select {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.form-news-select {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-news-select {
  font-size: 1.6rem;
  border: solid #333 1px;
  background: none;
  box-shadow: none;
  border-radius: 5%;
  margin-top: 2rem;
}

.button-news-select:hover {
  background-color: #97b1ac;
}
