.container-news-select {
  padding: 1rem;
  width: 100%;
  min-height: 40rem;
  display: flex;
  justify-content: center;
  background-color: #87a18c;
  margin-bottom: 1rem; 
  position: sticky;
  top: 6.5rem;
}

.title-news-select {
  font-size: 2rem;
}
