.container-pagination-bar {
  width: 100%;
  text-align: center;
  position: sticky;
  top: 40rem;
}

.page-button {
  font-size: 1.3rem;
  background-color: transparent;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  width: 2.8rem;
}

.page-button:not(:first-of-type) {
  margin-left: 0.5rem;
}

.page-button-center {
  background-color: #8cbf96;
  border-radius: 40%;
}

